:root {
  --back-color: #ffffff;
  --card-color: #d9d9d9;
  --font-color: #1b1b1b;
  --ligther-font-color: #6f6f6f;
  --main-color: #2b4eeb;
  --main-color-hover: #6b82ec;
}

[data-theme="dark"] {
  --back-color: #0f1115;
  --card-color: #1c1f26;
  --font-color: #e6e6e6;
  --ligther-font-color: #a1a1aa;
  --main-color: #4c6fff;
  --main-color-hover: #6e8bff;
}

.main_container {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px;
  background-color: var(--card-color);
}

.display_component {
  display: flex;
  gap: 15px;
  width: 100%;
}

.main_content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  overflow: scroll;
  gap: 10px;
}

.header_bar .user_data {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 8px 10px;
  border-radius: 10px;

  background-color: var(--back-color);

  .user_personal_information h3 {
    font-size: 16px;
    margin: 0 10px;
  }

  .user_personal_information p {
    font-size: 15px;
    margin: 0 10px;
  }

  .notification_icon {
    font-size: 25px;
    margin-right: 10px;
    cursor: pointer;
  }

  .user_picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 15px;
    background-color: var(--main-color);
    cursor: pointer;
  }
}
