.container-center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;   
    gap: 20px;
    width: 100%;
    padding: 10px;
}

.input-section {
    text-align: center;
    margin-left: 50px;
    width: 300px;
}
.page-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 840px;
    min-height: 1010px;
    background-color: antiquewhite;
    padding: 10px;
    box-sizing: border-box;

}
.cv-header {
            margin-top: 40px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 30px;
    padding: 10px;
        margin-bottom: 100px;

}
.profile-image-wrapper {
    width: 150px;
    height: 150px;
    margin-left: 15px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 20px;
    flex-shrink: 0;

}
.profile-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

}
.title-section {
    display: flex;
    flex-direction: column;
    width: calc(100% - 170px);
    text-align: center;
    padding: 10px;

}
.title-flex {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;

}
.content-columns {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: flex-start;

}
.skill-section {
    text-align: center;
    width: 38%;
    min-width: unset;

}
.description-section {

    text-align: center;
    width:75%;
    min-width: unset;
}
.small-divider {
    width: 60%;
    height: 7px;
    border: none;
    background-color: orange;
    border-radius: 5px;
    margin: 10px auto 15px auto;

    
}
.large-divider {

    width: 70%;
    height: 7px;
    border: none;
    background-color: orange;
    border-radius: 5px;
    margin: 10px auto 15px auto;
}
.paragraph-design {
    text-align: center;
    margin: 0 auto;
    width: 90%;
    font-size: 1rem;
    line-height: 1.5;
}
.textarea-custom {
    margin: 3px 0;
    resize: none;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}
@media (max-width: 768px) {
    .container-center {
        flex-direction: column;
        align-items: center;
    }

    .input-section {
        width: 100%;
    }

    .page-wrapper {
        width: 100%;
        padding: 10px;
    }

    .cv-header {
        flex-direction: column;
    }

    .title-flex {
        flex-direction: column;
        gap: 5px;
    }

    .content-columns {
        flex-direction: column;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1.1rem;
    }
}
