.containerr{
    display: flex;
    justify-content: center;
}
.inputsCV{ 
    text-align: center;
    margin-left: 50px;
    width: 300px;
}
.container1 {
  margin-left: auto;
  margin-right: auto;
  width: 794px;              
  min-height: 1090px;        
  background-color: antiquewhite;
  padding: 20px;
  box-sizing: border-box;
}

.container-cv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
  padding: 10px;
}

.imgs {
  width: 150px;
  height: 150px;
  margin-left: 45px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
  flex-shrink: 0;
}

.imgs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.title {
  display: flex;
  flex-direction: column;
  width: calc(80% - 170px); 
  text-align: center;
  padding: 10px;
}

.title-f {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.container2 {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: flex-start;
}

.strength {
    text-align: center;
  width: 35%;
  min-width: unset;
}

.description {
    text-align: center;
  width: 65%;
  min-width: unset;
}
.smalleHr {
  width: 100%;
  height: 10px;
  border: none;
  background-color: orange;
  border-radius: 5px;
  margin: 10px 0 15px 0;
}

.largeHr {
  width: 100%;
  height: 10px;
  border: none;
  background-color: orange;
  border-radius: 5px;
  margin: 15px 0;
}

.p-desing {
  text-align: center;
  margin: 0 auto;
  width: 90%;
  font-size: 1rem;
  line-height: 1.5;
}

.cl-p {
    
  margin: 5px 0;
   resize: none;
  overflow: hidden;
  border: 1px solid #ccc;

  border-radius: 5px;
  background-color: #fff;
}

@media (max-width: 768px) {
  .container-cv {
    flex-direction: column;
    align-items: center;
  }
  .title {
    width: 100% !important;
    text-align: center;
    margin-top: 15px;
  }
  .container2 {
    flex-direction: column;
  }
  .strength, .description {
    width: 100% !important;
    margin-bottom: 20px;
  }
}
