* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* App Layout */
.app-container {
  padding: 30px;
  padding-top: 0;
}

/* Header */
.custom-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 18px;
  margin-bottom: 35px;

  font-size: 36px;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #fff;
  background: linear-gradient(135deg, #6366f1, #9333ea);

  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease;
}

.custom-title:hover {
  transform: translateY(-3px);
}

/* Cards Grid */
.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

/* Card */
.job-card {
  background: #fff;
  padding: 18px;
  border-radius: 14px;
  border: 1px solid #ddd;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.job-card:hover {
  transform: translateY(-5px);
}

/* Card Top */
.card-top {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.badge {
  background: #bbf7d0;
  color: #166534;
  padding: 3px 10px;
  border-radius: 20px;
  font-weight: bold;
}

/* Titles */
.job-title {
  margin: 10px 0 5px;
}

.job-meta {
  color: #555;
  font-size: 13px;
}

/* Progress */
.progress {
  margin: 12px 0;
  font-weight: bold;
  color: #7c3aed;
}

/* Stats */
.stats p {
  margin: 4px 0;
  font-size: 14px;
}

/* Tags */
.tags {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.tags span {
  background: #e5e7eb;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  font-size: 13px;
}

.card-footer a {
  color: #7c3aed;
  text-decoration: none;
}
