:root {
  --back-color: #ffffff;
  --card-color: #d9d9d9;
  --font-color: #1b1b1b;
  --ligther-font-color: #6f6f6f;
  --main-color: #2b4eeb;
}

.side_bar {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  width: 18%;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--back-color);
  border-radius: 10px;
}

.side_bar .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  img {
    align-self: flex-start;
    width: 70%;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
  }

  p {
    margin: 0;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color);
  }
}

.side_bar .nav_bar,
.side_bar .general {
  h4 {
    font-size: 18px;
    color: var(--ligther-font-color);
    margin-left: 5px;
    margin-bottom: 0;
    position: relative;
  }
}

.side_bar .general {
  margin-top: auto;
}

.side_bar .nav_bar_buttons a,
.side_bar .tools_buttons a {
  text-decoration: none;
  color: var(--font-color);
}

.side_bar .nav_bar_buttons,
.side_bar .tools_buttons {
  display: flex;
  flex-direction: column;
  text-decoration: none;

  .nav_bar_button {
    .icon {
      font-size: 15px;
      margin-right: 5px;
      transition: 0.2s ease-in-out;
    }

    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 8px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    background-color: var(--card-color);
  }
}

.nav_bar_buttons .nav_bar_button:hover,
.tools_buttons .nav_bar_button:hover {
  background-color: var(--main-color);
  color: var(--back-color);
}
