:root {
  --back-color: #ffffff;
  --card-color: #d9d9d9;
  --font-color: #1b1b1b;
  --ligther-font-color: #6f6f6f;
  --main-color: #2b4eeb;
  --main-color-hover: #133ae7;
}

.container {
  height: 100vb;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.log_in_page {
  display: flex;
  width: 90vw;
  height: 95vh;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--card-color);
}

.registration_form {
  width: 70%;
  margin: 10px 50px;
  padding: 10px;
}

.registration_form .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;

  .logo {
    width: 120px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: 20px;
  }
  .details {
    text-align: start;
  }
  .details h1 {
    color: var(--main-color);
    margin: 0;
    font-weight: 600;
  }
  .details p {
    font-size: 15px;
    font-weight: 500;
  }
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;
}
/* ------ login page ------- */
.form_container .login {
  margin-top: 50px;
}
/* ------ singnup page ------- */
.form_container .register {
  margin-top: -10px;
}

.form_container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: auto;
}

.form_container form input {
  width: 90%;
  font-size: 17px;
  font-weight: 400;
  padding: 10px 15px;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 10px;
  margin: 10px 0;
  background-color: var(--back-color);
}

.form_container form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  input {
    width: 10%;
  }
}

.form_container form h5,
.form_container p {
  font-size: 16px;
  font-weight: 500;
  span {
    cursor: pointer;
    color: var(--main-color);
  }
}

.form_container form .log_in_btn,
.form_container form .create_account {
  background-color: var(--main-color);
  color: var(--back-color);
  cursor: pointer;
  margin: 15px 0;
  transition: 0.2s ease-in-out;
}

.form_container form .log_in_btn:hover,
.form_container form .create_account:hover {
  background-color: var(--main-color-hover);
  transform: scale(1.05);
}

.signup_btn {
  width: 50%;
  font-size: 17px;
  font-weight: 400;
  padding: 10px 15px;
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: var(--back-color);
  border: 1px solid var(--main-color);
  color: var(--main-color);
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

img {
  border-radius: 50px;
  box-sizing: border-box;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
